@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import './font.css';
body {
  margin: 0;
  font-family: 'Satoshi Light',
    sans-serif;
  color: #fff;
}
.regular{
  font-family: 'Satoshi regular',sans-serif;
}
.bold{
  font-family: 'Satoshi Bold',sans-serif;
}
.medium{
  font-family: 'Satoshi Medium',sans-serif;
}
.idown i{
  transform: rotate(180deg);
  transition: all 300ms 50ms;
}
.anime:hover{
  transform: scale(1.15);
  transition: all 1s .500ms;
}
.ep-active{
  border-bottom: 1px solid #fbc500;
}
.width{
  width: calc(100% / 5 - 28px);
}
.blur{
  background-image: radial-gradient(circle farthest-side at top left, #141618, transparent 70%), radial-gradient(circle farthest-side at top right, #071b38, transparent 70%), radial-gradient(circle farthest-side at bottom right, #53521b, transparent 70%), radial-gradient(circle farthest-side at bottom left, #4f4d51, transparent 70%);
}
.absoluteCenterLeft{
  left: 50%;
  transform: translateX(-50%);
}
.absoluteCenterLeft::before{
    content: '';
    display : inline-block;
    height : 0;
    width : 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
    border-right : 13px solid transparent;
    border-bottom : 10px solid #fff;
    border-left : 13px solid transparent;
}
.bgheight{
  height:calc(100vh - 80px);
}
.centerAbsoluteTop{
  top: 50%;
  transform: translateY(-50%);
}
img{
  width: 100%;
  height: 100%;
}
.movie:hover{
  background-color: rgba(0,0,0,.4);
}
